h1, h2, p {
    white-space:pre-wrap;
}


#imgBox {
    width:40%;
    height:40%;
    float: left;

    outline: black dashed 2px;
}

#entryImage {
    max-width:100%;
    max-height:100%;
}

#info {
    width:40%;
    height: 40%;
    float: right;
    margin-right: 10%
}
