<!doctype html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='entry.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='assets/favicon.ico')}}">
</head>


<img src="{{pictureURL}}">

<h1> {{metadata["title"]}}</h1>

<h2> {{metadata["artist"]}}</h2>
<h2> {{metadata["date"]}}</h2>
<h2> {{metadata["medium"]}}</h2>

<!-- TODO: fix the fact that the spaces are not being shown. figure out if they're removed visually or actually from description -->
<p> {{description}} </p>

