<!doctype html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='entry.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='assets/favicon.ico')}}">
</head>

<div id ="imgBox">
    <img id="entryImage" src="{{pictureURL}}">
</div>

<div id="info"?>
    <h1> {{metadata["title"]}}</h1>

    <h2> {{metadata["artist"]}}</h2>
    <h2> {{metadata["date"]}}</h2>
    <h2> {{metadata["medium"]}}</h2>

    <p> {{description}} </p>

    <a href="/"> Back</a>
</div>